@import "generic.css";

/*********** NAV BAR BEGIN **********/
/* Nav bar Menu */
.navbar_menubar{
    list-style: none;   
    display: flex;
    align-items: center;
    font-size: 15px;
}

/* Nav bar Current Page Title */
.navbar_title{
    font-size: 1.75rem;
    color: white;
}

/* Nav bar Menu item */
.navbar_menu{
    color: gray;
    text-decoration: none;
}

/* Nav bar Selected/Active Menu item */
.navbar_menu-active{
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

/* Nav bar Sign Out Bn */
.navbar_btn{
    background-color: rgb(23,162,184);
    color:white;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 15px;
}

/* Nav bar spacing between Menu items */
.navbar li{
    padding-right: 25px;
}

/*********** NAV BAR END **********/

/* Main Left Column */
#col1{
    flex :2;
}

/* Main Right Column */
#col2{
    flex :1;
}

/*********** USER CARD BEGIN **********/
/* User Card  Body */
.usercard_body > *{
    margin: 10px 0px;
}

.usercard_header{
    background-color: rgb(23,162,184);
    height: 65px;
    padding-left: 20px;
}

.usercard_body{
    padding-left: 20px;
    margin-top: 50px;
}

.usercard_pic{
    width: 90px;
    border-radius: 50em;
    border: 5px gray solid;
    padding: 3px;
    background-color: white;
}

.usercard_name{
    font-size: 30px;
    font-weight: bold;
}

.usercard_icon{
    width:12px;
    padding-right: 5px;
}

.usercard_label_loc{
    font-size: 20px;
}

.usercard_label_desc{
    font-size: 15px;
    display: block;
}

.usercard_edit{
    font-size: 15px;
    color: rgb(12,83,148)
}



/*********** USER CARD END **********/

/* Education */
#edu{
    /* flex: 1; */
}

/* Requests */
#requests{
    /* flex: 1; */
}

/* Connections */
#connections{
    /* flex: 2; */
}