.main{
    margin: 0px 200px;
}

.box{
    border: 3px black solid;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    width: 30%;
}

.header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}