body {
    text-align: center;
}

.main {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.row {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.box {
    height: 50px;
    width: 50px;
}